{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Dues</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    

        
</head>
<body>
    {% csrf_token %}
    <div id="app">
        <header>
            {% include 'header.html' %}
        </header>
        <div class="columns">
            <div id="left" class="sidebar">
                {% if  request.path == '/'  and not user.is_authenticated %}
                    <p class="header-icon"></p>
                {% else %} 
                    <a class="header-icon" href="{% url 'sleep_app:home' %}">
                        <img id="logo" src="https://cdn.cp.adobe.io/content/2/dcx/cdfaf2a5-7900-4a8f-9c3c-bb6e2dc74b05/rendition/preview.jpg/version/0/format/jpg/dimension/width/size/1200" alt="Home icon"/> 
                    </a>
                    <br>
                {% endif %}

                <nav class="nav">
                    <div class="nav__list">
                        {% if user.is_authenticated %}
                            <p id=sidebarIcon></p>
                            <p>Welcome [[ currentUser.username ]]</p>
                            <a href="{% url 'sleep_app:post_sleep_record' %}" class="nav__list-item">Sleep Log</a>
                            <a href="{% url 'logout' %}" class="nav__list-item">Log out</a>
                        {% else %} 
                            <a href="{% url 'signup' %}" class="nav__list-item">Register</a>
                            <a href="{% url 'login' %}" class="nav__list-item">Log In</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <div id="right" class="mainBody">
                {% block login %}
                {% block register %}
                {% block user_update %}
                    {% if user.is_authenticated %}
                    {% include 'user.html' %}
                    {% else %}
                    {% include 'nonuser.html' %}
                    {% endif %}
                {% endblock user_update %}
                {% endblock register %}
                {% endblock login %}
            </div>
        </div>
    </div>


 <!-- Import Ajax -->
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

 <!-- Import Vue.js -->
 <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

 <!-- Import file.js -->
 <script src="{% static '/app.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


 <!-- Mount App -->
 <script> const mountApp = app.mount('#app') </script>

</body>
</html>