{% comment %} <h1>MAIN BODY</h1>
<img class="memojis" src="https://media4.giphy.com/media/dQgl5JyyjHxABAqrWR/giphy.gif?cid=790b7611448d11fec6b4df088e42fd52657ecf0462e0d1de&rid=giphy.gif&ct=g" alt="Computer man" style="width:300px;height:300px;" /> {% endcomment %}

<div class="row">
    <div class="bodyColumns">
        <img class="memojis" src="https://media1.giphy.com/media/5mBCYxJ7PHidsZVRkf/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
        <img class="memojis" src="https://media2.giphy.com/media/wE19ivfoD5fTHXemFu/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
    </div>
    <div class="bodyColumns">
        <p>Learn more about how sleep can affect your mind and body</p>
        <p>SIGN UP FOR SLEEP DUES HERE</p>
        <a href="{% url 'signup' %}" id="startButton">START HERE</a>
    </div>
    <div class="bodyColumns">
        <img class="memojis" src="https://media4.giphy.com/media/e34oyThs8eSqTlKus3/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
        <img class="memojis" src="https://media0.giphy.com/media/7Vlz6G2Cqtvz3Z7KWB/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 

    </div>
  </div>