{% csrf_token %}

<div id=sloganContainer>
    <img id="slogan" src="https://cdn.cp.adobe.io/content/2/dcx/52d57b73-4a84-4421-adc1-d305349193ff/rendition/preview.jpg/version/3/format/jpg/dimension/width/size/1200" />
</div>
    <div class="row">
    <div class="bodyColumns">
        <img class="memojis" src="https://media1.giphy.com/media/5mBCYxJ7PHidsZVRkf/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
        <img class="memojis" src="https://media2.giphy.com/media/wE19ivfoD5fTHXemFu/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
    </div>
    <div class="textColumn">
        <div class="sloganText">
            <br>
            <p>Learn more about how sleep can affect your [[ word ]].</p>
            <br>
            <p>SIGN UP FOR SLEEP DUES NOW!</p>
        </div>
        <br>
        <a href="{% url 'signup' %}" id="startButton">START HERE</a>
    </div>
    <div class="bodyColumns">
        <img class="memojis" src="https://media4.giphy.com/media/e34oyThs8eSqTlKus3/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 
        <img class="memojis" src="https://media0.giphy.com/media/7Vlz6G2Cqtvz3Z7KWB/giphy.gif" alt="Computer man" style="width:150px;height:150px;" /> 

    </div>
  </div>