{% extends 'home.html' %}

{% block user_update %}


<div class="register-form"> 
    <h1>Post Sleep Record</h1>
    <form >
        {% csrf_token %}
        <label for="id_date">Date:</label><br>
        <input type="date" name="date" id="id_date" v-model="userSleepData.date"><br>
        <label for="id_sleep_hours">Sleep Hours:</label><br>
        <input type="number" name="sleep_hours" id="id_sleep_hours" v-model="userSleepData.sleep_hours"><br><br>
        <button @click="uploadSleepData" class=fancyButton>Upload</button>
    </form>
</div>
<br>

<!-- Use a container to center the table -->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Sleep Hours</th>
                <th>Delete Record</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="sleep in sleepLog" :key="sleep.id">
                <td>[[ sleep.date ]]</td>
                <td>[[ sleep.sleep_hours ]]</td>
                <td>
                    <button @click="deleteSleepRecord(sleep.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>




{% endblock %}