{% csrf_token %}


<h1>Welcome [[ currentUser.username ]], here's a snapshot of your sleep data!</h1>
<div id=loadingSpinner style="display: block;">
    <div class=spinner></div>
    <p class=record>Loading...</p>
</div>
<div id=mainElement style="display: none;">
    {% include 'graph.html' %}
    <img v-bind:src="userMemoji" class="memojis" alt="Computer man" style="width:300px;height:300px;" />
    <div class="slider-card">
        <div class="slider-card__content is-active">
            <div class="slider-card__text">[[ moodText ]]</div>
            <div class="slider-card__text">[[ moodSource ]]</div>
        </div>
    </div>
    <p id="record">[[ moodText ]]</p>
    <p id="record">[[ moodSource ]]</p>
    <div id="quote-card">
        {{ showNextQuote() }}
    </div>
</div>

